<html>

    <head>
        <title> nsi.videogranulate web interface </title>
    </head>

    <body>
        <h1> nsi.videogranulate web interface </h1>
        <form action="/granulate" method="POST" enctype="multipart/form-data">
            <label for="file">Choose the file to granulate.</label>
            <p><input name="file" placeholder="Enter path to the file to granulate." type="file"></p>
            <p><input type="submit" value="Granulate this."></p>
        </form>
    </body>

</html>
